<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PUCMM OP</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/images/tv.png">
    <link href="/css/style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Aquí irán los estilos personalizados */
    </style>
</head>

<body class="h-100">
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <h4 class="text-center">Oficina de Planeamaiento PUCMM</h4>
                            <!-- Aquí iría el mensaje de error -->
                            <form class="mt-5 mb-5 login-input" method="post">
                                <div class="form-group">
                                    <input id="login-usuario" name="login-usuario" type="text" class="form-control" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                    <input id="login-clave" name="login-clave" type="password" class="form-control" placeholder="Clave">
                                </div>
                                <div class="form-group text-center">
                                    <label class="form-check-label"><input id="login-cookie" name="login-cookie" type="checkbox" class="form-check-input" value="">Recordar Log In</label>
                                </div>
                                <button type="submit" class="btn btn-primario submit w-100">Sign In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
Scripts
***********************************-->
<script src="/plugins/common/common.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/gleek.js"></script>
<script src="/js/styleSwitcher.js"></script>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
            navigator.serviceWorker.register('/serviceworkers.js', { scope: '/' }).then(function(registration) {
                console.log('Registrando el servicio en el ambiente: ', registration.scope);
            }, function(err) {
                console.log('Service Worker falló el registro: ', err);
            });
        });
    }
</script>
</body>

</html>
